.wrapperDivider {
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
}

.divider:after {
  content: "";
  display: block;
  text-align: center;
  width: 784px;
  border: 2px solid #DFDFDF;
}

@media (max-width: 1110px) {
  .divider:after {
    width: 85vw;
    margin-top: 64px;
    border: 1px solid #DFDFDF;
  }

  .footer .divider {
    background-color: #FFFFFF;
  }

  .footer .divider::after {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}
